<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gb.health.dao.DiseaseMapper" >
  <resultMap id="BaseResultMap" type="com.gb.health.domain.Disease" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="disease_number" property="diseaseNumber" jdbcType="VARCHAR" />
    <result column="disease_name" property="diseaseName" jdbcType="VARCHAR" />
    <result column="disease_flag" property="diseaseFlag" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from disease
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gb.health.domain.Disease" >
    insert into disease (id, disease_name,disease_number, disease_flag)
    values (#{id,jdbcType=INTEGER}, #{disease_name,jdbcType=VARCHAR},#{disease_number,jdbcType=VARCHAR}, #{disease_flag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gb.health.domain.Disease" >
    update disease
    set disease_name = #{diseaseName,jdbcType=VARCHAR},
      disease_number = #{diseaseNumber,jdbcType=VARCHAR},
      disease_flag = #{diseaseFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from disease
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByDisease_number" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from disease
    where disease_number = #{disease_number,jdbcType=VARCHAR}
     </select>
     
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from disease
  </select>
</mapper>