<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gb.health.dao.ReportDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.gb.health.domain.ReportDepartment" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="p_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="d_department" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="d_item" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="d_result" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="g_examination_time" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="g_import_time" jdbcType="DATE" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, p_id, d_department, d_item, d_result, g_examination_time, g_import_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_report_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_report_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gb.health.domain.ReportDepartment" >
    insert into tb_report_department (id, p_id, d_department, 
      d_item, d_result, g_examination_time, 
      g_import_time)
    values (#{id,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{dDepartment,jdbcType=VARCHAR}, 
      #{dItem,jdbcType=VARCHAR}, #{dResult,jdbcType=VARCHAR}, #{gExaminationTime,jdbcType=DATE}, 
      #{gImportTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.gb.health.domain.ReportDepartment" >
    insert into tb_report_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="dDepartment != null" >
        d_department,
      </if>
      <if test="dItem != null" >
        d_item,
      </if>
      <if test="dResult != null" >
        d_result,
      </if>
      <if test="gExaminationTime != null" >
        g_examination_time,
      </if>
      <if test="gImportTime != null" >
        g_import_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="dDepartment != null" >
        #{dDepartment,jdbcType=VARCHAR},
      </if>
      <if test="dItem != null" >
        #{dItem,jdbcType=VARCHAR},
      </if>
      <if test="dResult != null" >
        #{dResult,jdbcType=VARCHAR},
      </if>
      <if test="gExaminationTime != null" >
        #{gExaminationTime,jdbcType=DATE},
      </if>
      <if test="gImportTime != null" >
        #{gImportTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gb.health.domain.ReportDepartment" >
    update tb_report_department
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="dDepartment != null" >
        d_department = #{dDepartment,jdbcType=VARCHAR},
      </if>
      <if test="dItem != null" >
        d_item = #{dItem,jdbcType=VARCHAR},
      </if>
      <if test="dResult != null" >
        d_result = #{dResult,jdbcType=VARCHAR},
      </if>
      <if test="gExaminationTime != null" >
        g_examination_time = #{gExaminationTime,jdbcType=DATE},
      </if>
      <if test="gImportTime != null" >
        g_import_time = #{gImportTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gb.health.domain.ReportDepartment" >
    update tb_report_department
    set p_id = #{pId,jdbcType=INTEGER},
      d_department = #{dDepartment,jdbcType=VARCHAR},
      d_item = #{dItem,jdbcType=VARCHAR},
      d_result = #{dResult,jdbcType=VARCHAR},
      g_examination_time = #{gExaminationTime,jdbcType=DATE},
      g_import_time = #{gImportTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>