<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gb.health.dao.TbHealthExaminationMapper">
  <resultMap id="BaseResultMap" type="com.gb.health.domain.TbHealthExamination">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uploadtime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="examinationtime" jdbcType="DATE" property="examinationtime" />
    <result column="examinationaddr" jdbcType="VARCHAR" property="examinationaddr" />
    <result column="b_personid" jdbcType="VARCHAR" property="bPersonid" />
    <result column="b_tel" jdbcType="VARCHAR" property="bTel" />
    <result column="b_company" jdbcType="VARCHAR" property="bCompany" />
    <result column="b_fileurl" jdbcType="VARCHAR" property="bFileurl" />
    <result column="b_name" jdbcType="VARCHAR" property="bName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_health_examination
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gb.health.domain.TbHealthExamination"  useGeneratedKeys="true" keyProperty="id"  >
    insert into tb_health_examination (id, uploadtime, examinationtime, 
      examinationaddr, b_personid, b_tel, 
      b_company, b_fileurl, b_name
      )
    values (#{id,jdbcType=INTEGER}, #{uploadtime,jdbcType=TIMESTAMP}, #{examinationtime,jdbcType=DATE}, 
      #{examinationaddr,jdbcType=VARCHAR}, #{bPersonid,jdbcType=VARCHAR}, #{bTel,jdbcType=VARCHAR}, 
      #{bCompany,jdbcType=VARCHAR}, #{bFileurl,jdbcType=VARCHAR}, #{bName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gb.health.domain.TbHealthExamination">
    update tb_health_examination
    set uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
      examinationtime = #{examinationtime,jdbcType=DATE},
      examinationaddr = #{examinationaddr,jdbcType=VARCHAR},
      b_personid = #{bPersonid,jdbcType=VARCHAR},
      b_tel = #{bTel,jdbcType=VARCHAR},
      b_company = #{bCompany,jdbcType=VARCHAR},
      b_fileurl = #{bFileurl,jdbcType=VARCHAR},
      b_name = #{bName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, uploadtime, examinationtime, examinationaddr, b_personid, b_tel, b_company, 
    b_fileurl, b_name
    from tb_health_examination
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, uploadtime, examinationtime, examinationaddr, b_personid, b_tel, b_company, 
    b_fileurl, b_name
    from tb_health_examination
  </select>
    <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.gb.health.domain.TbHealthExamination">
    select id, uploadtime, examinationtime, examinationaddr, b_personid, b_tel, b_company, 
    b_fileurl, b_name
    from tb_health_examination
    <where>
        1=0
       
        <if test="bPersonid!=null">
        or  b_personid = #{bPersonid,jdbcType=VARCHAR} 
        </if>
        
        <if test="bTel!=null">
        or  b_tel = #{bTel,jdbcType=VARCHAR}
        </if>
        
        <if test="bName!=null">
        or  b_name = #{bName,jdbcType=VARCHAR}
        </if>
         <if test="bCompany!=null">
        or  b_company = #{bCompany,jdbcType=VARCHAR}
        </if>
        
    </where> order by examinationtime DESC

  </select>
  <select id="selectCheck" resultMap="BaseResultMap"  parameterType="com.gb.health.domain.TbHealthExamination">
    select id, uploadtime, examinationtime, examinationaddr, b_personid, b_tel, b_company, 
    b_fileurl, b_name
    from tb_health_examination
    <where>
        
         b_tel = #{bTel,jdbcType=VARCHAR}
        
        and examinationtime = #{examinationtime,jdbcType=DATE}
        
    </where>
  </select>
</mapper>