<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gb.health.dao.TbHealthStateMapper" >
  <resultMap id="BaseResultMap" type="com.gb.health.domain.TbHealthState" >
    <id column="b_id" property="bId" jdbcType="INTEGER" />
    <result column="b_name" property="bName" jdbcType="VARCHAR" />
    <result column="b_sex" property="bSex" jdbcType="CHAR" />
    <result column="b_nation" property="bNation" jdbcType="VARCHAR" />
    <result column="b_birthday" property="bBirthday" jdbcType="DATE" />
    <result column="b_blood_type" property="bBloodType" jdbcType="VARCHAR" />
    <result column="b_weight" property="bWeight" jdbcType="REAL" />
    <result column="b_heght" property="bHeght" jdbcType="REAL" />
    <result column="b_waistline" property="bWaistline" jdbcType="REAL" />
    <result column="b_age" property="bAge" jdbcType="INTEGER" />
    <result column="b_tel" property="bTel" jdbcType="VARCHAR" />
    <result column="b_relation_name" property="bRelationName" jdbcType="VARCHAR" />
    <result column="b_relation_tel" property="bRelationTel" jdbcType="VARCHAR" />
    <result column="b_address" property="bAddress" jdbcType="VARCHAR" />
    <result column="b_education" property="bEducation" jdbcType="INTEGER" />
    <result column="b_jobs" property="bJobs" jdbcType="VARCHAR" />
    <result column="b_personid" property="bPersonid" jdbcType="VARCHAR" />
    <result column="b_insurance" property="bInsurance" jdbcType="INTEGER" />
    <result column="b_marriage" property="bMarriage" jdbcType="INTEGER" />
    <result column="h_medicine_allergy" property="hMedicineAllergy" jdbcType="VARCHAR" />
    <result column="h_food_allergy" property="hFoodAllergy" jdbcType="VARCHAR" />
    <result column="h_other_allergy" property="hOtherAllergy" jdbcType="VARCHAR" />
    <result column="h_conact" property="hConact" jdbcType="VARCHAR" />
    <result column="h_medication_history" property="hMedicationHistory" jdbcType="VARCHAR" />
    <result column="h_history_cycle" property="hHistoryCycle" jdbcType="VARCHAR" />
    <result column="h_history_metabolism" property="hHistoryMetabolism" jdbcType="VARCHAR" />
    <result column="h_history_breathe" property="hHistoryBreathe" jdbcType="VARCHAR" />
    <result column="h_history_digestive" property="hHistoryDigestive" jdbcType="VARCHAR" />
    <result column="h_history_urinary" property="hHistoryUrinary" jdbcType="VARCHAR" />
    <result column="h_history_blood" property="hHistoryBlood" jdbcType="VARCHAR" />
    <result column="h_history_endocrine" property="hHistoryEndocrine" jdbcType="VARCHAR" />
    <result column="h_history_nervous" property="hHistoryNervous" jdbcType="VARCHAR" />
    <result column="h_history_immune" property="hHistoryImmune" jdbcType="VARCHAR" />
    <result column="h_history_sports" property="hHistorySports" jdbcType="VARCHAR" />
    <result column="h_history_rheumatism" property="hHistoryRheumatism" jdbcType="VARCHAR" />
    <result column="h_trauma" property="hTrauma" jdbcType="VARCHAR" />
    <result column="h_time" property="hTime" jdbcType="TIMESTAMP" />
    <result column="h_familial_disease" property="hFamilialDisease" jdbcType="VARCHAR" />
    <result column="l_liveSport_count" property="lLivesportCount" jdbcType="INTEGER" />
    <result column="l_liveSport_minute" property="lLivesportMinute" jdbcType="INTEGER" />
    <result column="l_liveSport_year" property="lLivesportYear" jdbcType="INTEGER" />
    <result column="l_liveSport_way" property="lLivesportWay" jdbcType="VARCHAR" />
    <result column="l_liveSport_step" property="lLivesportStep" jdbcType="INTEGER" />
    <result column="l_liveFood_structure" property="lLivefoodStructure" jdbcType="INTEGER" />
    <result column="l_liveFood_dayKind" property="lLivefoodDaykind" jdbcType="INTEGER" />
    <result column="l_liveFood_weekKind" property="lLivefoodWeekkind" jdbcType="INTEGER" />
    <result column="l_liveFood_primary" property="lLivefoodPrimary" jdbcType="INTEGER" />
    <result column="l_liveFood_potato" property="lLivefoodPotato" jdbcType="INTEGER" />
    <result column="l_liveFood_bean" property="lLivefoodBean" jdbcType="INTEGER" />
    <result column="l_liveFood_vegetable" property="lLivefoodVegetable" jdbcType="INTEGER" />
    <result column="l_liveFood_fruit" property="lLivefoodFruit" jdbcType="INTEGER" />
    <result column="l_liveFood_milk" property="lLivefoodMilk" jdbcType="INTEGER" />
    <result column="l_liveFood_nut" property="lLivefoodNut" jdbcType="INTEGER" />
    <result column="l_liveFood_salt" property="lLivefoodSalt" jdbcType="INTEGER" />
    <result column="l_liveFood_meat" property="lLivefoodMeat" jdbcType="INTEGER" />
    <result column="l_liveFood_fish" property="lLivefoodFish" jdbcType="INTEGER" />
    <result column="l_liveFood_egg" property="lLivefoodEgg" jdbcType="INTEGER" />
    <result column="l_liveFood_oil" property="lLivefoodOil" jdbcType="INTEGER" />
    <result column="l_liveFood_sugar" property="lLivefoodSugar" jdbcType="INTEGER" />
    <result column="l_liveFood_water" property="lLivefoodWater" jdbcType="INTEGER" />
    <result column="l_smoke_condition" property="lSmokeCondition" jdbcType="INTEGER" />
    <result column="l_smoke_beginAge" property="lSmokeBeginage" jdbcType="INTEGER" />
    <result column="l_smoke_number" property="lSmokeNumber" jdbcType="INTEGER" />
    <result column="l_smoke_endAge" property="lSmokeEndage" jdbcType="INTEGER" />
    <result column="l_smoke_env" property="lSmokeEnv" jdbcType="INTEGER" />
    <result column="l_wine_Hz" property="lWineHz" jdbcType="INTEGER" />
    <result column="l_wine_kind" property="lWineKind" jdbcType="INTEGER" />
    <result column="l_wine_beer" property="lWineBeer" jdbcType="INTEGER" />
    <result column="l_wine_white" property="lWineWhite" jdbcType="INTEGER" />
    <result column="l_wine_red" property="lWineRed" jdbcType="INTEGER" />
    <result column="l_wine_yellow" property="lWineYellow" jdbcType="INTEGER" />
    <result column="l_wine_beginAge" property="lWineBeginage" jdbcType="INTEGER" />
    <result column="l_wine_endAge" property="lWineEndage" jdbcType="INTEGER" />
    <result column="l_wine_year" property="lWineYear" jdbcType="INTEGER" />
    <result column="l_wine_drunk" property="lWineDrunk" jdbcType="INTEGER" />
    <result column="l_sleep_time" property="lSleepTime" jdbcType="INTEGER" />
    <result column="l_sleep_wakeNumber" property="lSleepWakenumber" jdbcType="INTEGER" />
    <result column="l_sleep_insomnia" property="lSleepInsomnia" jdbcType="INTEGER" />
    <result column="l_perceive_nearMemory" property="lPerceiveNearmemory" jdbcType="BIT" />
    <result column="l_perceive_farMemory" property="lPerceiveFarmemory" jdbcType="BIT" />
    <result column="l_perceive_calc" property="lPerceiveCalc" jdbcType="BIT" />
    <result column="l_perceive_direction" property="lPerceiveDirection" jdbcType="BIT" />
    <result column="l_psy_live" property="lPsyLive" jdbcType="BIT" />
    <result column="l_psy_job" property="lPsyJob" jdbcType="BIT" />
    <result column="l_psy_workPress" property="lPsyWorkpress" jdbcType="BIT" />
    <result column="l_psy_feelLow" property="lPsyFeellow" jdbcType="BIT" />
    <result column="l_psy_anxiety" property="lPsyAnxiety" jdbcType="BIT" />
    <result column="l_score" property="lScore" jdbcType="REAL" />
    <result column="l_score_desc" property="lScoreDesc" jdbcType="VARCHAR" />
    <result column="l_Personality_worry" property="lPersonalityWorry" jdbcType="BIT" />
    <result column="l_Personality_calm" property="lPersonalityCalm" jdbcType="BIT" />
    <result column="l_Personality_unhappy" property="lPersonalityUnhappy" jdbcType="BIT" />
    <result column="l_liveSport_dayWeek" property="lLivesportDayweek" jdbcType="INTEGER" />
    <result column="b_time" property="bTime" jdbcType="TIMESTAMP" />
    <result column="b_province" property="province" jdbcType="VARCHAR" />
    <result column="b_city" property="city" jdbcType="VARCHAR" />
    <result column="b_county" property="county" jdbcType="VARCHAR" />
    <result column="b_original_address" property="original_address" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_health_state
    where b_id = #{bId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gb.health.domain.TbHealthState" >
    insert into tb_health_state (b_id, b_name, b_sex, 
      b_nation, b_birthday, b_blood_type, 
      b_weight, b_heght, b_waistline, 
      b_age, b_tel, b_relation_name, 
      b_relation_tel, b_address, b_education, 
      b_jobs, b_personid, b_insurance, 
      b_marriage, h_medicine_allergy, h_food_allergy, 
      h_other_allergy, h_conact, h_medication_history, 
      h_history_cycle, h_history_metabolism, h_history_breathe, 
      h_history_digestive, h_history_urinary, h_history_blood, 
      h_history_endocrine, h_history_nervous, h_history_immune, 
      h_history_sports, h_history_rheumatism, h_trauma, 
      h_time, h_familial_disease, l_liveSport_count, 
      l_liveSport_minute, l_liveSport_year, l_liveSport_way, 
      l_liveSport_step, l_liveFood_structure, l_liveFood_dayKind, 
      l_liveFood_weekKind, l_liveFood_primary, l_liveFood_potato, 
      l_liveFood_bean, l_liveFood_vegetable, l_liveFood_fruit, 
      l_liveFood_milk, l_liveFood_nut, l_liveFood_salt, 
      l_liveFood_meat, l_liveFood_fish, l_liveFood_egg, 
      l_liveFood_oil, l_liveFood_sugar, l_liveFood_water, 
      l_smoke_condition, l_smoke_beginAge, l_smoke_number, 
      l_smoke_endAge, l_smoke_env, l_wine_Hz, 
      l_wine_kind, l_wine_beer, l_wine_white, 
      l_wine_red, l_wine_yellow, l_wine_beginAge, 
      l_wine_endAge, l_wine_year, l_wine_drunk, 
      l_sleep_time, l_sleep_wakeNumber, l_sleep_insomnia, 
      l_perceive_nearMemory, l_perceive_farMemory, l_perceive_calc, 
      l_perceive_direction, l_psy_live, l_psy_job, 
      l_psy_workPress, l_psy_feelLow, l_psy_anxiety, 
      l_score, l_score_desc, l_Personality_worry, 
      l_Personality_calm, l_Personality_unhappy, l_liveSport_dayWeek, 
      b_time,b_province,b_city,b_county,b_original_address)
    values (#{bId,jdbcType=INTEGER}, #{bName,jdbcType=VARCHAR}, #{bSex,jdbcType=CHAR}, 
      #{bNation,jdbcType=VARCHAR}, #{bBirthday,jdbcType=DATE}, #{bBloodType,jdbcType=VARCHAR}, 
      #{bWeight,jdbcType=REAL}, #{bHeght,jdbcType=REAL}, #{bWaistline,jdbcType=REAL}, 
      #{bAge,jdbcType=INTEGER}, #{bTel,jdbcType=VARCHAR}, #{bRelationName,jdbcType=VARCHAR}, 
      #{bRelationTel,jdbcType=VARCHAR}, #{bAddress,jdbcType=VARCHAR}, #{bEducation,jdbcType=INTEGER}, 
      #{bJobs,jdbcType=VARCHAR}, #{bPersonid,jdbcType=VARCHAR}, #{bInsurance,jdbcType=INTEGER}, 
      #{bMarriage,jdbcType=INTEGER}, #{hMedicineAllergy,jdbcType=VARCHAR}, #{hFoodAllergy,jdbcType=VARCHAR}, 
      #{hOtherAllergy,jdbcType=VARCHAR}, #{hConact,jdbcType=VARCHAR}, #{hMedicationHistory,jdbcType=VARCHAR}, 
      #{hHistoryCycle,jdbcType=VARCHAR}, #{hHistoryMetabolism,jdbcType=VARCHAR}, #{hHistoryBreathe,jdbcType=VARCHAR}, 
      #{hHistoryDigestive,jdbcType=VARCHAR}, #{hHistoryUrinary,jdbcType=VARCHAR}, #{hHistoryBlood,jdbcType=VARCHAR}, 
      #{hHistoryEndocrine,jdbcType=VARCHAR}, #{hHistoryNervous,jdbcType=VARCHAR}, #{hHistoryImmune,jdbcType=VARCHAR}, 
      #{hHistorySports,jdbcType=VARCHAR}, #{hHistoryRheumatism,jdbcType=VARCHAR}, #{hTrauma,jdbcType=VARCHAR}, 
      #{hTime,jdbcType=TIMESTAMP}, #{hFamilialDisease,jdbcType=VARCHAR}, #{lLivesportCount,jdbcType=INTEGER}, 
      #{lLivesportMinute,jdbcType=INTEGER}, #{lLivesportYear,jdbcType=INTEGER}, #{lLivesportWay,jdbcType=VARCHAR}, 
      #{lLivesportStep,jdbcType=INTEGER}, #{lLivefoodStructure,jdbcType=INTEGER}, #{lLivefoodDaykind,jdbcType=INTEGER}, 
      #{lLivefoodWeekkind,jdbcType=INTEGER}, #{lLivefoodPrimary,jdbcType=INTEGER}, #{lLivefoodPotato,jdbcType=INTEGER}, 
      #{lLivefoodBean,jdbcType=INTEGER}, #{lLivefoodVegetable,jdbcType=INTEGER}, #{lLivefoodFruit,jdbcType=INTEGER}, 
      #{lLivefoodMilk,jdbcType=INTEGER}, #{lLivefoodNut,jdbcType=INTEGER}, #{lLivefoodSalt,jdbcType=INTEGER}, 
      #{lLivefoodMeat,jdbcType=INTEGER}, #{lLivefoodFish,jdbcType=INTEGER}, #{lLivefoodEgg,jdbcType=INTEGER}, 
      #{lLivefoodOil,jdbcType=INTEGER}, #{lLivefoodSugar,jdbcType=INTEGER}, #{lLivefoodWater,jdbcType=INTEGER}, 
      #{lSmokeCondition,jdbcType=INTEGER}, #{lSmokeBeginage,jdbcType=INTEGER}, #{lSmokeNumber,jdbcType=INTEGER}, 
      #{lSmokeEndage,jdbcType=INTEGER}, #{lSmokeEnv,jdbcType=INTEGER}, #{lWineHz,jdbcType=INTEGER}, 
      #{lWineKind,jdbcType=INTEGER}, #{lWineBeer,jdbcType=INTEGER}, #{lWineWhite,jdbcType=INTEGER}, 
      #{lWineRed,jdbcType=INTEGER}, #{lWineYellow,jdbcType=INTEGER}, #{lWineBeginage,jdbcType=INTEGER}, 
      #{lWineEndage,jdbcType=INTEGER}, #{lWineYear,jdbcType=INTEGER}, #{lWineDrunk,jdbcType=INTEGER}, 
      #{lSleepTime,jdbcType=INTEGER}, #{lSleepWakenumber,jdbcType=INTEGER}, #{lSleepInsomnia,jdbcType=INTEGER}, 
      #{lPerceiveNearmemory,jdbcType=BIT}, #{lPerceiveFarmemory,jdbcType=BIT}, #{lPerceiveCalc,jdbcType=BIT}, 
      #{lPerceiveDirection,jdbcType=BIT}, #{lPsyLive,jdbcType=BIT}, #{lPsyJob,jdbcType=BIT}, 
      #{lPsyWorkpress,jdbcType=BIT}, #{lPsyFeellow,jdbcType=BIT}, #{lPsyAnxiety,jdbcType=BIT}, 
      #{lScore,jdbcType=REAL}, #{lScoreDesc,jdbcType=VARCHAR}, #{lPersonalityWorry,jdbcType=BIT}, 
      #{lPersonalityCalm,jdbcType=BIT}, #{lPersonalityUnhappy,jdbcType=BIT}, #{lLivesportDayweek,jdbcType=INTEGER}, 
      #{bTime,jdbcType=TIMESTAMP},#{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{county,jdbcType=VARCHAR},#{original_address,jdbcType=VARCHAR})
  </insert>
  
  
  <insert id="updateOrInBycard"   parameterType="com.gb.health.domain.TbHealthState"  useGeneratedKeys="true"  keyProperty="b_id" >
     insert into tb_health_state (b_id, b_name, b_sex, 
      b_nation, b_birthday, b_blood_type, 
      b_weight, b_heght, b_waistline, 
      b_age, b_tel, b_relation_name, 
      b_relation_tel, b_address, b_education, 
      b_jobs, b_personid, b_insurance, 
      b_marriage, h_medicine_allergy, h_food_allergy, 
      h_other_allergy, h_conact, h_medication_history, 
      h_history_cycle, h_history_metabolism, h_history_breathe, 
      h_history_digestive, h_history_urinary, h_history_blood, 
      h_history_endocrine, h_history_nervous, h_history_immune, 
      h_history_sports, h_history_rheumatism, h_trauma, 
      h_familial_disease, l_liveSport_count, 
      l_liveSport_minute, l_liveSport_year, l_liveSport_way, 
      l_liveSport_step, l_liveFood_structure, l_liveFood_dayKind, 
      l_liveFood_weekKind, l_liveFood_primary, l_liveFood_potato, 
      l_liveFood_bean, l_liveFood_vegetable, l_liveFood_fruit, 
      l_liveFood_milk, l_liveFood_nut, l_liveFood_salt, 
      l_liveFood_meat, l_liveFood_fish, l_liveFood_egg, 
      l_liveFood_oil, l_liveFood_sugar, l_liveFood_water, 
      l_smoke_condition, l_smoke_beginAge, l_smoke_number, 
      l_smoke_endAge, l_smoke_env, l_wine_Hz, 
      l_wine_kind, l_wine_beer, l_wine_white, 
      l_wine_red, l_wine_yellow, l_wine_beginAge, 
      l_wine_endAge, l_wine_year, l_wine_drunk, 
      l_sleep_time, l_sleep_wakeNumber, l_sleep_insomnia, 
      l_perceive_nearMemory, l_perceive_farMemory, l_perceive_calc, 
      l_perceive_direction, l_psy_live, l_psy_job, 
      l_psy_workPress, l_psy_feelLow, l_psy_anxiety, 
      l_score, l_score_desc, l_Personality_worry, 
      l_Personality_calm, l_Personality_unhappy, l_liveSport_dayWeek, 
      b_time,b_province,b_city,b_county,b_original_address)
    values (#{bId,jdbcType=INTEGER}, #{bName,jdbcType=VARCHAR}, #{bSex,jdbcType=CHAR}, 
      #{bNation,jdbcType=VARCHAR}, #{bBirthday,jdbcType=DATE}, #{bBloodType,jdbcType=VARCHAR}, 
      #{bWeight,jdbcType=REAL}, #{bHeght,jdbcType=REAL}, #{bWaistline,jdbcType=REAL}, 
      #{bAge,jdbcType=INTEGER}, #{bTel,jdbcType=VARCHAR}, #{bRelationName,jdbcType=VARCHAR}, 
      #{bRelationTel,jdbcType=VARCHAR}, #{bAddress,jdbcType=VARCHAR}, #{bEducation,jdbcType=INTEGER}, 
      #{bJobs,jdbcType=VARCHAR}, #{bPersonid,jdbcType=VARCHAR}, #{bInsurance,jdbcType=INTEGER}, 
      #{bMarriage,jdbcType=INTEGER}, #{hMedicineAllergy,jdbcType=VARCHAR}, #{hFoodAllergy,jdbcType=VARCHAR}, 
      #{hOtherAllergy,jdbcType=VARCHAR}, #{hConact,jdbcType=VARCHAR}, #{hMedicationHistory,jdbcType=VARCHAR}, 
      #{hHistoryCycle,jdbcType=VARCHAR}, #{hHistoryMetabolism,jdbcType=VARCHAR}, #{hHistoryBreathe,jdbcType=VARCHAR}, 
      #{hHistoryDigestive,jdbcType=VARCHAR}, #{hHistoryUrinary,jdbcType=VARCHAR}, #{hHistoryBlood,jdbcType=VARCHAR}, 
      #{hHistoryEndocrine,jdbcType=VARCHAR}, #{hHistoryNervous,jdbcType=VARCHAR}, #{hHistoryImmune,jdbcType=VARCHAR}, 
      #{hHistorySports,jdbcType=VARCHAR}, #{hHistoryRheumatism,jdbcType=VARCHAR}, #{hTrauma,jdbcType=VARCHAR}, 
      #{hFamilialDisease,jdbcType=VARCHAR}, #{lLivesportCount,jdbcType=INTEGER}, 
      #{lLivesportMinute,jdbcType=INTEGER}, #{lLivesportYear,jdbcType=INTEGER}, #{lLivesportWay,jdbcType=VARCHAR}, 
      #{lLivesportStep,jdbcType=INTEGER}, #{lLivefoodStructure,jdbcType=INTEGER}, #{lLivefoodDaykind,jdbcType=INTEGER}, 
      #{lLivefoodWeekkind,jdbcType=INTEGER}, #{lLivefoodPrimary,jdbcType=INTEGER}, #{lLivefoodPotato,jdbcType=INTEGER}, 
      #{lLivefoodBean,jdbcType=INTEGER}, #{lLivefoodVegetable,jdbcType=INTEGER}, #{lLivefoodFruit,jdbcType=INTEGER}, 
      #{lLivefoodMilk,jdbcType=INTEGER}, #{lLivefoodNut,jdbcType=INTEGER}, #{lLivefoodSalt,jdbcType=INTEGER}, 
      #{lLivefoodMeat,jdbcType=INTEGER}, #{lLivefoodFish,jdbcType=INTEGER}, #{lLivefoodEgg,jdbcType=INTEGER}, 
      #{lLivefoodOil,jdbcType=INTEGER}, #{lLivefoodSugar,jdbcType=INTEGER}, #{lLivefoodWater,jdbcType=INTEGER}, 
      #{lSmokeCondition,jdbcType=INTEGER}, #{lSmokeBeginage,jdbcType=INTEGER}, #{lSmokeNumber,jdbcType=INTEGER}, 
      #{lSmokeEndage,jdbcType=INTEGER}, #{lSmokeEnv,jdbcType=INTEGER}, #{lWineHz,jdbcType=INTEGER}, 
      #{lWineKind,jdbcType=INTEGER}, #{lWineBeer,jdbcType=INTEGER}, #{lWineWhite,jdbcType=INTEGER}, 
      #{lWineRed,jdbcType=INTEGER}, #{lWineYellow,jdbcType=INTEGER}, #{lWineBeginage,jdbcType=INTEGER}, 
      #{lWineEndage,jdbcType=INTEGER}, #{lWineYear,jdbcType=INTEGER}, #{lWineDrunk,jdbcType=INTEGER}, 
      #{lSleepTime,jdbcType=INTEGER}, #{lSleepWakenumber,jdbcType=INTEGER}, #{lSleepInsomnia,jdbcType=INTEGER}, 
      #{lPerceiveNearmemory,jdbcType=BIT}, #{lPerceiveFarmemory,jdbcType=BIT}, #{lPerceiveCalc,jdbcType=BIT}, 
      #{lPerceiveDirection,jdbcType=BIT}, #{lPsyLive,jdbcType=BIT}, #{lPsyJob,jdbcType=BIT}, 
      #{lPsyWorkpress,jdbcType=BIT}, #{lPsyFeellow,jdbcType=BIT}, #{lPsyAnxiety,jdbcType=BIT}, 
      #{lScore,jdbcType=REAL}, #{lScoreDesc,jdbcType=VARCHAR}, #{lPersonalityWorry,jdbcType=BIT}, 
      #{lPersonalityCalm,jdbcType=BIT}, #{lPersonalityUnhappy,jdbcType=BIT}, #{lLivesportDayweek,jdbcType=INTEGER}, 
      #{bTime,jdbcType=TIMESTAMP},#{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{county,jdbcType=VARCHAR},#{original_address,jdbcType=VARCHAR}) ON DUPLICATE KEY UPDATE 
    
     
      <if test="bName != null and bName != ''">b_name = VALUES(b_name), </if>
      <if test="bSex != null and bSex != ''"> b_sex = VALUES(b_sex),</if>
      <if test="bNation != null and bNation != ''">b_nation = VALUES(b_nation),</if>
      <if test="bBirthday != null and bBirthday != ''">b_birthday = VALUES(b_birthday),</if>
      <if test="bBloodType != null and bBloodType != ''">b_blood_type = VALUES(b_blood_type),</if>
      <if test="bWeight != null">b_weight = VALUES(b_weight),</if>
      <if test="bHeght != null">b_heght = VALUES(b_heght),</if>
      <if test="bWaistline != null">b_waistline = VALUES(b_waistline),</if>
      <if test="bAge != null ">b_age = VALUES(b_age),</if>
      <if test="bTel != null ">b_tel = VALUES(b_tel),</if>
      <if test="bRelationName != null and bRelationName != ''">b_relation_name = VALUES(b_relation_name),</if>
      <if test="bRelationTel != null and bRelationTel != ''">b_relation_tel = VALUES(b_relation_tel),</if>
      <if test="bAddress != null and bAddress != ''">b_address = VALUES(b_address),</if>
      <if test="bEducation != null">b_education = VALUES(b_education),</if>
      <if test="bJobs != null and bJobs != ''">b_jobs = VALUES(b_jobs),</if>
      <if test="bInsurance != null">b_insurance = VALUES(b_insurance),</if>
      <if test="bMarriage != null">b_marriage = VALUES(b_marriage),</if>
      
      
         <if test=" hMedicineAllergy!= null and  hMedicineAllergy!= ''">h_medicine_allergy = VALUES(h_medicine_allergy),</if>
         <if test=" hFoodAllergy!= null and  hFoodAllergy!= ''">h_food_allergy = VALUES(h_food_allergy),</if>
         <if test=" hOtherAllergy!= null and  hOtherAllergy!= ''">h_other_allergy = VALUES(h_other_allergy),</if>
         <if test="hConact != null and  hConact!= ''">h_conact = VALUES(h_conact),</if>
         <if test=" hMedicationHistory!= null and  hMedicationHistory!= ''">h_medication_history = VALUES(h_medication_history),</if>
         <if test=" hHistoryCycle!= null and  hHistoryCycle!= ''">h_history_cycle = VALUES(h_history_cycle),</if>
         <if test=" hHistoryMetabolism!= null and  hHistoryMetabolism!= ''">h_history_metabolism = VALUES(h_history_metabolism),</if>
         <if test=" hHistoryBreathe!= null and  hHistoryBreathe!= ''">h_history_breathe = VALUES(h_history_breathe),</if>
         <if test=" hHistoryDigestive!= null and  hHistoryDigestive!= ''">h_history_digestive = VALUES(h_history_digestive),</if>
         <if test=" hHistoryUrinary!= null and hHistoryUrinary != ''">h_history_urinary = VALUES(h_history_urinary),</if>
         <if test=" hHistoryBlood!= null and  hHistoryBlood!= ''">h_history_blood = VALUES(h_history_blood),</if>
         <if test="  hHistoryEndocrine!=null and   hHistoryEndocrine!=''">h_history_endocrine = VALUES(h_history_endocrine),</if>
         <if test="  hHistoryNervous!=null and   hHistoryNervous!=''">h_history_nervous =VALUES(h_history_nervous) ,</if>
         <if test="  hHistoryImmune!=null and   hHistoryImmune!=''">h_history_immune = VALUES(h_history_immune),</if>
         <if test="  hHistorySports!=null and   hHistorySports!=''">h_history_sports = VALUES(h_history_sports),</if>
         <if test="  hHistoryRheumatism!=null and   hHistoryRheumatism!=''">h_history_rheumatism = VALUES(h_history_rheumatism),</if>
         <if test="  hTrauma!=null and   hTrauma!=''">h_trauma = VALUES(h_trauma),</if>
<!--          <if test="  hTime!=null and   hTime!=''">h_time = VALUES(h_time),</if> -->
         <if test="  hFamilialDisease!=null and   hFamilialDisease!=''">h_familial_disease = VALUES(h_familial_disease),</if>
         
         
         <if test="  lLivesportCount!=null">l_liveSport_count = VALUES(l_liveSport_count),</if>
         <if test="  lLivesportMinute!=null">l_liveSport_minute = VALUES(l_liveSport_minute),</if>
         <if test="  lLivesportYear!=null">l_liveSport_year = VALUES(l_liveSport_year),</if>
         <if test="  lLivesportWay!=null and   lLivesportWay!=''">l_liveSport_way = VALUES(l_liveSport_way),</if>
         <if test="  lLivesportStep!=null">l_liveSport_step = VALUES(l_liveSport_step),</if>
         <if test="  lLivefoodStructure!=null">l_liveFood_structure = VALUES(l_liveFood_structure),</if>
         <if test="  lLivefoodDaykind!=null">l_liveFood_dayKind = VALUES(l_liveFood_dayKind),</if>
         <if test="  lLivefoodWeekkind!=null ">l_liveFood_weekKind = VALUES(l_liveFood_weekKind),</if>
         <if test="  lLivefoodPrimary!=null">l_liveFood_primary = VALUES(l_liveFood_primary),</if>
         <if test="  lLivefoodPotato!=null ">l_liveFood_potato = VALUES(l_liveFood_potato),</if>
         <if test="  lLivefoodBean!=null">l_liveFood_bean = VALUES(l_liveFood_bean),</if>
         <if test="  lLivefoodVegetable!=null ">l_liveFood_vegetable = VALUES(l_liveFood_vegetable),</if>
         <if test="  lLivefoodFruit!=null">l_liveFood_fruit = VALUES(l_liveFood_fruit),</if>
         <if test="  lLivefoodMilk!=null">l_liveFood_milk = VALUES(l_liveFood_milk),</if>
         <if test="  lLivefoodNut!=null ">l_liveFood_nut = VALUES(l_liveFood_nut),</if>
         <if test="  lLivefoodSalt!=null ">l_liveFood_salt = VALUES(l_liveFood_salt),</if>
         <if test="  lLivefoodMeat!=null ">l_liveFood_meat = VALUES(l_liveFood_meat),</if>
         <if test="  lLivefoodFish!=null ">l_liveFood_fish = VALUES(l_liveFood_fish),</if>
         <if test="  lLivefoodEgg!=null ">l_liveFood_egg = VALUES(l_liveFood_egg),</if>
         <if test="  lLivefoodOil!=null ">l_liveFood_oil = VALUES(l_liveFood_oil),</if>
         <if test="  lLivefoodSugar!=null ">l_liveFood_sugar = VALUES(l_liveFood_sugar),</if>
         <if test="  lLivefoodWater!=null ">l_liveFood_water = VALUES(l_liveFood_water),</if>
         <if test="  lSmokeCondition!=null">l_smoke_condition = VALUES(l_smoke_condition),</if>
         <if test="  lSmokeBeginage!=null ">l_smoke_beginAge = VALUES(l_smoke_beginAge),</if>
         <if test="  lSmokeNumber!=null ">l_smoke_number = VALUES(l_smoke_number),</if>
         <if test="  lSmokeEndage!=null ">l_smoke_endAge = VALUES(l_smoke_endAge),</if>
         <if test="  lSmokeEnv!=null ">l_smoke_env = VALUES(l_smoke_env),</if>
         <if test="  lWineHz!=null ">l_wine_Hz = VALUES(l_wine_Hz),</if>
         <if test="  lWineKind!=null ">l_wine_kind = VALUES(l_wine_kind),</if>
         <if test="  lWineBeer!=null ">l_wine_beer = VALUES(l_wine_beer),</if>
         <if test="  lWineWhite!=null">l_wine_white = VALUES(l_wine_white),</if>
         <if test="  lWineRed!=null ">l_wine_red = VALUES(l_wine_red),</if>
         <if test="  lWineYellow!=null ">l_wine_yellow = VALUES(l_wine_yellow),</if>
         <if test="  lWineBeginage!=null">l_wine_beginAge = VALUES(l_wine_beginAge),</if>
         <if test="  lWineEndage!=null ">l_wine_endAge = VALUES(l_wine_endAge),</if>
         <if test="  lWineYear!=null ">l_wine_year = VALUES(l_wine_year),</if>
         <if test="  lWineDrunk!=null ">l_wine_drunk = VALUES(l_wine_drunk),</if>
         <if test="  lSleepTime!=null">l_sleep_time = VALUES(l_sleep_time),</if>
         <if test="  lSleepWakenumber!=null">l_sleep_wakeNumber = VALUES(l_sleep_wakeNumber),</if>
         <if test="  lSleepInsomnia!=null">l_sleep_insomnia = VALUES(l_sleep_insomnia),</if>
         <if test="  lPerceiveNearmemory!=null">l_perceive_nearMemory = VALUES(l_perceive_nearMemory),</if>
         <if test="  lPerceiveFarmemory!=null ">l_perceive_farMemory = VALUES(l_perceive_farMemory),</if>
         <if test="  lPerceiveCalc!=null">l_perceive_calc = VALUES(l_perceive_calc),</if>
         <if test="  lPerceiveDirection!=null ">l_perceive_direction = VALUES(l_perceive_direction),</if>
         <if test="  lPsyLive!=null ">l_psy_live = VALUES(l_psy_live),</if>
         <if test="  lPsyJob!=null ">l_psy_job = VALUES(l_psy_job),</if>
         <if test="  lPsyWorkpress!=null">l_psy_workPress = VALUES(l_psy_workPress),</if>
         <if test="  lPsyFeellow!=null">l_psy_feelLow = VALUES(l_psy_feelLow),</if>
         <if test="  lPsyAnxiety!=null ">l_psy_anxiety = VALUES(l_psy_anxiety),</if>
         <if test="  lScore!=null">l_score = VALUES(l_score),</if>   
         <if test="  lScoreDesc!=null  and   lScoreDesc!=null">l_score_desc = VALUES(l_score_desc),</if>
         <if test="  lPersonalityWorry!=null">l_Personality_worry = VALUES(l_Personality_worry),</if>
         <if test="  lPersonalityCalm!=null">l_Personality_calm = VALUES(l_Personality_calm),</if>
         <if test="  lPersonalityUnhappy!=null">l_Personality_unhappy = VALUES(l_Personality_unhappy),</if>   
         <if test="  lLivesportDayweek!=null ">l_liveSport_dayWeek = VALUES(l_liveSport_dayWeek),</if>
         <if test="  bTime!=null and   bTime !=''">b_time = VALUES(b_time),</if>
       <if test="bPersonid != null and bPersonid != ''">b_personid = VALUES(b_personid)</if>
       <if test="province != null and province != ''">b_province = VALUES(b_province)</if>
       <if test="city != null and city != ''">b_city = VALUES(b_city)</if>
       <if test="county != null and county != ''">b_county = VALUES(b_county)</if>
       <if test="original_address != null and original_address != ''">b_original_address = VALUES(b_original_address)</if>
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.gb.health.domain.TbHealthState" >
    update tb_health_state
    set b_name = #{bName,jdbcType=VARCHAR},
      b_sex = #{bSex,jdbcType=CHAR},
      b_nation = #{bNation,jdbcType=VARCHAR},
      b_birthday = #{bBirthday,jdbcType=DATE},
      b_blood_type = #{bBloodType,jdbcType=VARCHAR},
      b_weight = #{bWeight,jdbcType=REAL},
      b_heght = #{bHeght,jdbcType=REAL},
      b_waistline = #{bWaistline,jdbcType=REAL},
      b_age = #{bAge,jdbcType=INTEGER},
      b_tel = #{bTel,jdbcType=VARCHAR},
      b_relation_name = #{bRelationName,jdbcType=VARCHAR},
      b_relation_tel = #{bRelationTel,jdbcType=VARCHAR},
      b_address = #{bAddress,jdbcType=VARCHAR},
      b_education = #{bEducation,jdbcType=INTEGER},
      b_jobs = #{bJobs,jdbcType=VARCHAR},
      b_personid = #{bPersonid,jdbcType=VARCHAR},
      b_insurance = #{bInsurance,jdbcType=INTEGER},
      b_marriage = #{bMarriage,jdbcType=INTEGER},
      h_medicine_allergy = #{hMedicineAllergy,jdbcType=VARCHAR},
      h_food_allergy = #{hFoodAllergy,jdbcType=VARCHAR},
      h_other_allergy = #{hOtherAllergy,jdbcType=VARCHAR},
      h_conact = #{hConact,jdbcType=VARCHAR},
      h_medication_history = #{hMedicationHistory,jdbcType=VARCHAR},
      h_history_cycle = #{hHistoryCycle,jdbcType=VARCHAR},
      h_history_metabolism = #{hHistoryMetabolism,jdbcType=VARCHAR},
      h_history_breathe = #{hHistoryBreathe,jdbcType=VARCHAR},
      h_history_digestive = #{hHistoryDigestive,jdbcType=VARCHAR},
      h_history_urinary = #{hHistoryUrinary,jdbcType=VARCHAR},
      h_history_blood = #{hHistoryBlood,jdbcType=VARCHAR},
      h_history_endocrine = #{hHistoryEndocrine,jdbcType=VARCHAR},
      h_history_nervous = #{hHistoryNervous,jdbcType=VARCHAR},
      h_history_immune = #{hHistoryImmune,jdbcType=VARCHAR},
      h_history_sports = #{hHistorySports,jdbcType=VARCHAR},
      h_history_rheumatism = #{hHistoryRheumatism,jdbcType=VARCHAR},
      h_trauma = #{hTrauma,jdbcType=VARCHAR},
      h_time = #{hTime,jdbcType=TIMESTAMP},
      h_familial_disease = #{hFamilialDisease,jdbcType=VARCHAR},
      l_liveSport_count = #{lLivesportCount,jdbcType=INTEGER},
      l_liveSport_minute = #{lLivesportMinute,jdbcType=INTEGER},
      l_liveSport_year = #{lLivesportYear,jdbcType=INTEGER},
      l_liveSport_way = #{lLivesportWay,jdbcType=VARCHAR},
      l_liveSport_step = #{lLivesportStep,jdbcType=INTEGER},
      l_liveFood_structure = #{lLivefoodStructure,jdbcType=INTEGER},
      l_liveFood_dayKind = #{lLivefoodDaykind,jdbcType=INTEGER},
      l_liveFood_weekKind = #{lLivefoodWeekkind,jdbcType=INTEGER},
      l_liveFood_primary = #{lLivefoodPrimary,jdbcType=INTEGER},
      l_liveFood_potato = #{lLivefoodPotato,jdbcType=INTEGER},
      l_liveFood_bean = #{lLivefoodBean,jdbcType=INTEGER},
      l_liveFood_vegetable = #{lLivefoodVegetable,jdbcType=INTEGER},
      l_liveFood_fruit = #{lLivefoodFruit,jdbcType=INTEGER},
      l_liveFood_milk = #{lLivefoodMilk,jdbcType=INTEGER},
      l_liveFood_nut = #{lLivefoodNut,jdbcType=INTEGER},
      l_liveFood_salt = #{lLivefoodSalt,jdbcType=INTEGER},
      l_liveFood_meat = #{lLivefoodMeat,jdbcType=INTEGER},
      l_liveFood_fish = #{lLivefoodFish,jdbcType=INTEGER},
      l_liveFood_egg = #{lLivefoodEgg,jdbcType=INTEGER},
      l_liveFood_oil = #{lLivefoodOil,jdbcType=INTEGER},
      l_liveFood_sugar = #{lLivefoodSugar,jdbcType=INTEGER},
      l_liveFood_water = #{lLivefoodWater,jdbcType=INTEGER},
      l_smoke_condition = #{lSmokeCondition,jdbcType=INTEGER},
      l_smoke_beginAge = #{lSmokeBeginage,jdbcType=INTEGER},
      l_smoke_number = #{lSmokeNumber,jdbcType=INTEGER},
      l_smoke_endAge = #{lSmokeEndage,jdbcType=INTEGER},
      l_smoke_env = #{lSmokeEnv,jdbcType=INTEGER},
      l_wine_Hz = #{lWineHz,jdbcType=INTEGER},
      l_wine_kind = #{lWineKind,jdbcType=INTEGER},
      l_wine_beer = #{lWineBeer,jdbcType=INTEGER},
      l_wine_white = #{lWineWhite,jdbcType=INTEGER},
      l_wine_red = #{lWineRed,jdbcType=INTEGER},
      l_wine_yellow = #{lWineYellow,jdbcType=INTEGER},
      l_wine_beginAge = #{lWineBeginage,jdbcType=INTEGER},
      l_wine_endAge = #{lWineEndage,jdbcType=INTEGER},
      l_wine_year = #{lWineYear,jdbcType=INTEGER},
      l_wine_drunk = #{lWineDrunk,jdbcType=INTEGER},
      l_sleep_time = #{lSleepTime,jdbcType=INTEGER},
      l_sleep_wakeNumber = #{lSleepWakenumber,jdbcType=INTEGER},
      l_sleep_insomnia = #{lSleepInsomnia,jdbcType=INTEGER},
      l_perceive_nearMemory = #{lPerceiveNearmemory,jdbcType=BIT},
      l_perceive_farMemory = #{lPerceiveFarmemory,jdbcType=BIT},
      l_perceive_calc = #{lPerceiveCalc,jdbcType=BIT},
      l_perceive_direction = #{lPerceiveDirection,jdbcType=BIT},
      l_psy_live = #{lPsyLive,jdbcType=BIT},
      l_psy_job = #{lPsyJob,jdbcType=BIT},
      l_psy_workPress = #{lPsyWorkpress,jdbcType=BIT},
      l_psy_feelLow = #{lPsyFeellow,jdbcType=BIT},
      l_psy_anxiety = #{lPsyAnxiety,jdbcType=BIT},
      l_score = #{lScore,jdbcType=REAL},
      l_score_desc = #{lScoreDesc,jdbcType=VARCHAR},
      l_Personality_worry = #{lPersonalityWorry,jdbcType=BIT},
      l_Personality_calm = #{lPersonalityCalm,jdbcType=BIT},
      l_Personality_unhappy = #{lPersonalityUnhappy,jdbcType=BIT},
      l_liveSport_dayWeek = #{lLivesportDayweek,jdbcType=INTEGER},
      b_time = #{bTime,jdbcType=TIMESTAMP},
     b_province=#{province,jdbcType=VARCHAR},
     b_city=#{city,jdbcType=VARCHAR},
     b_county=#{county,jdbcType=VARCHAR},
     b_original_address=#{original_address,jdbcType=VARCHAR}
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * 
    from tb_health_state
    where b_id = #{bId,jdbcType=INTEGER}
  </select>
  
    <select id="selectByPersonId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * 
    from tb_health_state
    where b_personid = #{b_personid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select * 
    from tb_health_state
  </select>
</mapper>